<h2>GigasRGBx Palette v1.0 for SprinterNet by Shaos</h2>
<table border=1>
<tr>
<td align=center bgcolor=#FFFFFF>\</td>
<td align=center bgcolor=#FFFFFF>x0</td>
<td align=center bgcolor=#FFFFFF>x1</td>
<td align=center bgcolor=#FFFFFF>x2</td>
<td align=center bgcolor=#FFFFFF>x3</td>
<td align=center bgcolor=#FFFFFF>x4</td>
<td align=center bgcolor=#FFFFFF>x5</td>
<td align=center bgcolor=#FFFFFF>x6</td>
<td align=center bgcolor=#FFFFFF>x7</td>
<td align=center bgcolor=#FFFFFF>x8</td>
<td align=center bgcolor=#FFFFFF>x9</td>
<td align=center bgcolor=#FFFFFF>xA</td>
<td align=center bgcolor=#FFFFFF>xB</td>
<td align=center bgcolor=#FFFFFF>xC</td>
<td align=center bgcolor=#FFFFFF>xD</td>
<td align=center bgcolor=#FFFFFF>xE</td>
<td align=center bgcolor=#FFFFFF>xF</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>0x</td>
<td align=center bgcolor=#000000><font color="#FFFFFF"><b>0</b></font></td>
<td align=center bgcolor=#080808><font color="#FFFFFF">1</font></td>
<td align=center bgcolor=#101010><font color="#FFFFFF">2</font></td>
<td align=center bgcolor=#181818><font color="#FFFFFF">3</font></td>
<td align=center bgcolor=#202020><font color="#FFFFFF">4</font></td>
<td align=center bgcolor=#282828><font color="#FFFFFF">5</font></td>
<td align=center bgcolor=#303030><font color="#FFFFFF">6</font></td>
<td align=center bgcolor=#383838><font color="#FFFFFF">7</font></td>
<td align=center bgcolor=#404040><font color="#FFFFFF">8</font></td>
<td align=center bgcolor=#484848><font color="#FFFFFF">9</font></td>
<td align=center bgcolor=#505050><font color="#FFFFFF">10</font></td>
<td align=center bgcolor=#585858><font color="#FFFFFF">11</font></td>
<td align=center bgcolor=#606060><font color="#FFFFFF">12</font></td>
<td align=center bgcolor=#686868><font color="#FFFFFF">13</font></td>
<td align=center bgcolor=#707070><font color="#FFFFFF">14</font></td>
<td align=center bgcolor=#787878><font color="#FFFFFF">15</font></td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>1x</td>
<td align=center bgcolor=#00007C>16</td>
<td align=center bgcolor=#0000CB><b>17</b></td>
<td align=center bgcolor=#909090>18</td>
<td align=center bgcolor=#989898>19</td>
<td align=center bgcolor=#A0A0A0>20</td>
<td align=center bgcolor=#A8A8A8>21</td>
<td align=center bgcolor=#B0B0B0>22</td>
<td align=center bgcolor=#B8B8B8>23</td>
<td align=center bgcolor=#C0C0C0>24</td>
<td align=center bgcolor=#C8C8C8>25</td>
<td align=center bgcolor=#D0D0D0>26</td>
<td align=center bgcolor=#D8D8D8>27</td>
<td align=center bgcolor=#E0E0E0>28</td>
<td align=center bgcolor=#E8E8E8>29</td>
<td align=center bgcolor=#F0F0F0>30</td>
<td align=center bgcolor=#F8F8F8>31</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>2x</td>
<td align=center bgcolor=#7C0000>32</td>
<td align=center bgcolor=#7C007C>33</td>
<td align=center bgcolor=#CB0000><b>34</b></td>
<td align=center bgcolor=#007CFF>35</td>
<td align=center bgcolor=#00AACB>36</td>
<td align=center bgcolor=#00CBAA>37</td>
<td align=center bgcolor=#00CBE7>38</td>
<td align=center bgcolor=#00E7CB>39</td>
<td align=center bgcolor=#00FF7C>40</td>
<td align=center bgcolor=#7C00FF>41</td>
<td align=center bgcolor=#7C7CFF>42</td>
<td align=center bgcolor=#7CAACB>43</td>
<td align=center bgcolor=#7CAAFF>44</td>
<td align=center bgcolor=#7CCBAA>45</td>
<td align=center bgcolor=#7CCBE7>46</td>
<td align=center bgcolor=#7CCBFF>47</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>3x</td>
<td align=center bgcolor=#7C007C>48</td>
<td align=center bgcolor=#7C00CB>49</td>
<td align=center bgcolor=#CB007C>50</td>
<td align=center bgcolor=#CB00CB><b>51</b></td>
<td align=center bgcolor=#7CE7CB>52</td>
<td align=center bgcolor=#7CE7FF>53</td>
<td align=center bgcolor=#7CFF00>54</td>
<td align=center bgcolor=#7CFF7C>55</td>
<td align=center bgcolor=#7CFFAA>56</td>
<td align=center bgcolor=#7CFFCB>57</td>
<td align=center bgcolor=#7CFFE7>58</td>
<td align=center bgcolor=#7CFFFF>59</td>
<td align=center bgcolor=#AA00CB>60</td>
<td align=center bgcolor=#AA7CCB>61</td>
<td align=center bgcolor=#AA7CFF>62</td>
<td align=center bgcolor=#AAAACB>63</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>4x</td>
<td align=center bgcolor=#007C00>64</td>
<td align=center bgcolor=#007C7C>65</td>
<td align=center bgcolor=#7C7C00>66</td>
<td align=center bgcolor=#7C7C7C>67</td>
<td align=center bgcolor=#00CB00><b>68</b></td>
<td align=center bgcolor=#AACB00>69</td>
<td align=center bgcolor=#AACB7C>70</td>
<td align=center bgcolor=#AACBAA>71</td>
<td align=center bgcolor=#AACBCB>72</td>
<td align=center bgcolor=#AACBE7>73</td>
<td align=center bgcolor=#AAE7CB>74</td>
<td align=center bgcolor=#AAFF7C>75</td>
<td align=center bgcolor=#CB00AA>76</td>
<td align=center bgcolor=#CB00E7>77</td>
<td align=center bgcolor=#CB7CAA>78</td>
<td align=center bgcolor=#CB7CE7>79</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>5x</td>
<td align=center bgcolor=#007C7C>80</td>
<td align=center bgcolor=#007CCB>81</td>
<td align=center bgcolor=#7C7C7C>82</td>
<td align=center bgcolor=#7C7CCB>83</td>
<td align=center bgcolor=#00CB7C>84</td>
<td align=center bgcolor=#00CBCB><b>85</b></td>
<td align=center bgcolor=#CB7CFF>86</td>
<td align=center bgcolor=#CBAA00>87</td>
<td align=center bgcolor=#CBAA7C>88</td>
<td align=center bgcolor=#CBAAAA>89</td>
<td align=center bgcolor=#CBAACB>90</td>
<td align=center bgcolor=#CBAAE7>91</td>
<td align=center bgcolor=#CBCBAA>92</td>
<td align=center bgcolor=#CBCBE7>93</td>
<td align=center bgcolor=#CBCBFF>94</td>
<td align=center bgcolor=#CBE700>95</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>6x</td>
<td align=center bgcolor=#7C7C00>96</td>
<td align=center bgcolor=#7C7C7C>97</td>
<td align=center bgcolor=#CB7C00>98</td>
<td align=center bgcolor=#CB7C7C>99</td>
<td align=center bgcolor=#7CCB00>100</td>
<td align=center bgcolor=#7CCB7C>101</td>
<td align=center bgcolor=#CBCB00><b>102</b></td>
<td align=center bgcolor=#CBE77C>103</td>
<td align=center bgcolor=#CBE7AA>104</td>
<td align=center bgcolor=#CBE7CB>105</td>
<td align=center bgcolor=#CBE7E7>106</td>
<td align=center bgcolor=#CBFF7C>107</td>
<td align=center bgcolor=#CBFFCB>108</td>
<td align=center bgcolor=#CBFFFF>109</td>
<td align=center bgcolor=#E700CB>110</td>
<td align=center bgcolor=#E77CCB>111</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>7x</td>
<td align=center bgcolor=#7C7C7C>112</td>
<td align=center bgcolor=#7C7CCB>113</td>
<td align=center bgcolor=#CB7C7C>114</td>
<td align=center bgcolor=#CB7CCB>115</td>
<td align=center bgcolor=#7CCB7C>116</td>
<td align=center bgcolor=#7CCBCB>117</td>
<td align=center bgcolor=#CBCB7C>118</td>
<td align=center bgcolor=#CBCBCB><b>119</b></td>
<td align=center bgcolor=#E77CFF>120</td>
<td align=center bgcolor=#E7AACB>121</td>
<td align=center bgcolor=#E7CB00>122</td>
<td align=center bgcolor=#E7CB7C>123</td>
<td align=center bgcolor=#E7CBAA>124</td>
<td align=center bgcolor=#E7CBCB>125</td>
<td align=center bgcolor=#E7CBE7>126</td>
<td align=center bgcolor=#E7E7CB>127</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>8x</td>
<td align=center bgcolor=#000000><font color="#C0C0C0">128</font></td>
<td align=center bgcolor=#00007C>129</td>
<td align=center bgcolor=#7C0000>130</td>
<td align=center bgcolor=#7C007C>131</td>
<td align=center bgcolor=#007C00>132</td>
<td align=center bgcolor=#007C7C>133</td>
<td align=center bgcolor=#7C7C00>134</td>
<td align=center bgcolor=#7C7C7C>135</td>
<td align=center bgcolor=#000000><font color="#C0C0C0"><b>136</b></font></td>
<td align=center bgcolor=#E7FF7C>137</td>
<td align=center bgcolor=#FF007C>138</td>
<td align=center bgcolor=#FF7C00>139</td>
<td align=center bgcolor=#FF7C7C>140</td>
<td align=center bgcolor=#FF7CAA>141</td>
<td align=center bgcolor=#FF7CCB>142</td>
<td align=center bgcolor=#FF7CE7>143</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>9x</td>
<td align=center bgcolor=#0000AA>144</td>
<td align=center bgcolor=#0000E7>145</td>
<td align=center bgcolor=#7C00AA>146</td>
<td align=center bgcolor=#7C00E7>147</td>
<td align=center bgcolor=#007CAA>148</td>
<td align=center bgcolor=#007CE7>149</td>
<td align=center bgcolor=#7C7CAA>150</td>
<td align=center bgcolor=#7C7CE7>151</td>
<td align=center bgcolor=#0000AA>152</td>
<td align=center bgcolor=#0000FF><b>153</b></td>
<td align=center bgcolor=#FF7CFF>154</td>
<td align=center bgcolor=#FFAA7C>155</td>
<td align=center bgcolor=#FFCB7C>156</td>
<td align=center bgcolor=#FFCBCB>157</td>
<td align=center bgcolor=#FFCBFF>158</td>
<td align=center bgcolor=#FFE77C>159</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>Ax</td>
<td align=center bgcolor=#AA0000>160</td>
<td align=center bgcolor=#AA007C>161</td>
<td align=center bgcolor=#E70000>162</td>
<td align=center bgcolor=#E7007C>163</td>
<td align=center bgcolor=#AA7C00>164</td>
<td align=center bgcolor=#AA7C7C>165</td>
<td align=center bgcolor=#E77C00>166</td>
<td align=center bgcolor=#E77C7C>167</td>
<td align=center bgcolor=#AA0000>168</td>
<td align=center bgcolor=#AA00AA>169</td>
<td align=center bgcolor=#FF0000><b>170</b></td>
<td align=center bgcolor=#FFFF7C>171</td>
<td align=center bgcolor=#FFFFCB>172</td>
<td align=center bgcolor=#000000><font color="FFFFFF"><u>173</u></font></td>
<td align=center bgcolor=#15BCBD>174</td>
<td align=center bgcolor=#E519BD>175</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>Bx</td>
<td align=center bgcolor=#AA00AA>176</td>
<td align=center bgcolor=#AA00E7>177</td>
<td align=center bgcolor=#E700AA>178</td>
<td align=center bgcolor=#E700E7>179</td>
<td align=center bgcolor=#AA7CAA>180</td>
<td align=center bgcolor=#AA7CE7>181</td>
<td align=center bgcolor=#E77CAA>182</td>
<td align=center bgcolor=#E77CE7>183</td>
<td align=center bgcolor=#AA00AA>184</td>
<td align=center bgcolor=#AA00FF>185</td>
<td align=center bgcolor=#FF00AA>186</td>
<td align=center bgcolor=#FF00FF><b>187</b></td>
<td align=center bgcolor=#808080>188</td>
<td align=center bgcolor=#888888>189</td>
<td align=center bgcolor=#957A10>190</td>
<td align=center bgcolor=#E5BC19>191</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>Cx</td>
<td align=center bgcolor=#00AA00>192</td>
<td align=center bgcolor=#00AA7C>193</td>
<td align=center bgcolor=#7CAA00>194</td>
<td align=center bgcolor=#7CAA7C>195</td>
<td align=center bgcolor=#00E700>196</td>
<td align=center bgcolor=#00E77C>197</td>
<td align=center bgcolor=#7CE700>198</td>
<td align=center bgcolor=#7CE77C>199</td>
<td align=center bgcolor=#00AA00>200</td>
<td align=center bgcolor=#00AAAA>201</td>
<td align=center bgcolor=#AAAA00>202</td>
<td align=center bgcolor=#AAAAAA>203</td>
<td align=center bgcolor=#00FF00><b>204</b></td>
<td align=center bgcolor=#763130>205</td>
<td align=center bgcolor=#951010>206</td>
<td align=center bgcolor=#E51919>207</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>Dx</td>
<td align=center bgcolor=#00AAAA>208</td>
<td align=center bgcolor=#00AAE7>209</td>
<td align=center bgcolor=#7CAAAA>210</td>
<td align=center bgcolor=#7CAAE7>211</td>
<td align=center bgcolor=#00E7AA>212</td>
<td align=center bgcolor=#00E7E7>213</td>
<td align=center bgcolor=#7CE7AA>214</td>
<td align=center bgcolor=#7CE7E7>215</td>
<td align=center bgcolor=#00AAAA>216</td>
<td align=center bgcolor=#00AAFF>217</td>
<td align=center bgcolor=#AAAAAA>218</td>
<td align=center bgcolor=#AAAAFF>219</td>
<td align=center bgcolor=#00FFAA>220</td>
<td align=center bgcolor=#00FFFF><b>221</b></td>
<td align=center bgcolor=#245A0A>222</td>
<td align=center bgcolor=#388A0F>223</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>Ex</td>
<td align=center bgcolor=#AAAA00>224</td>
<td align=center bgcolor=#AAAA7C>225</td>
<td align=center bgcolor=#E7AA00>226</td>
<td align=center bgcolor=#E7AA7C>227</td>
<td align=center bgcolor=#AAE700>228</td>
<td align=center bgcolor=#AAE77C>229</td>
<td align=center bgcolor=#E7E700>230</td>
<td align=center bgcolor=#E7E77C>231</td>
<td align=center bgcolor=#AAAA00>232</td>
<td align=center bgcolor=#AAAAAA>233</td>
<td align=center bgcolor=#FFAA00>234</td>
<td align=center bgcolor=#FFAAAA>235</td>
<td align=center bgcolor=#AAFF00>236</td>
<td align=center bgcolor=#AAFFAA>237</td>
<td align=center bgcolor=#FFFF00><b>238</b></td>
<td align=center bgcolor=#153BBD>239</td>
</tr>
<tr>
<td align=center bgcolor=#FFFFFF>Fx</td>
<td align=center bgcolor=#AAAAAA>240</td>
<td align=center bgcolor=#AAAAE7>241</td>
<td align=center bgcolor=#E7AAAA>242</td>
<td align=center bgcolor=#E7AAE7>243</td>
<td align=center bgcolor=#AAE7AA>244</td>
<td align=center bgcolor=#AAE7E7>245</td>
<td align=center bgcolor=#E7E7AA>246</td>
<td align=center bgcolor=#E7E7E7>247</td>
<td align=center bgcolor=#AAAAAA>248</td>
<td align=center bgcolor=#AAAAFF>249</td>
<td align=center bgcolor=#FFAAAA>250</td>
<td align=center bgcolor=#FFAAFF>251</td>
<td align=center bgcolor=#AAFFAA>252</td>
<td align=center bgcolor=#AAFFFF>253</td>
<td align=center bgcolor=#FFFFAA>254</td>
<td align=center bgcolor=#FFFFFF><b>255</b></td>
</tr>
</table>
